@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #172554;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  display: block;
  width: 25px;
  height: 3px;
  /* background-color: white; */
  margin: 5px auto;
  transition: all 0.3s ease-in;
}

